<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 card">
    <h1 class="page-header">
        Add Campaign
        <small><%=Date.today.strftime("%d %B %Y")%></small>
    </h1>
   
    <ol class="breadcrumb">
      <li>
          <i class="fa fa-home"></i>  <a href="<%=posts_path%>">Home</a>
      </li>
      <li class="active">
          <i class="fa fa-edit"></i> Work
      </li>
    </ol>
    
    <%= render 'form' %>
    <br/>
  </div>
</div>


<!--<table class="table table-striped table-hover table-bordered">
  <tr>
    <td style="text-align:center;"></td>
  </tr>
<table>-->
